<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Query for MONEI Pay (via-monei-pay mode) and CloudCommerce (direct mode) -->
    <queries>
        <intent>
            <action android:name="com.monei.pay.ACCEPT_PAYMENT" />
        </intent>
        <package android:name="com.mastercard.cpos" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="cloud_payment" />
        </intent>
    </queries>

</manifest>
